In [1]:
import pandas as pd
import re
from datetime import date

In [2]:
data = pd.read_csv("C:\\Users\\elias\\Documents\\GitHub\\Maze\project_4\\pr_4\\main_task_new.csv")

In [3]:
data.sample(5)

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
6971,id_13986,London,['Belgian'],13996.0,3.0,$$ - $$$,135.0,"[['Good location', 'Not very good'], ['03/12/2...",/Restaurant_Review-g186338-d1928730-Reviews-Be...,d1928730
13875,id_3023,Amsterdam,NaN,3033.0,3.0,NaN,7.0,"[['So-so'], ['11/21/2017']]",/Restaurant_Review-g188590-d12508469-Reviews-T...,d12508469
3215,id_7019,London,NaN,7028.0,4.5,NaN,7.0,"[['Delicious treat!', 'Yummy'], ['01/01/2018',...",/Restaurant_Review-g186338-d12530861-Reviews-Y...,d12530861
4982,id_3074,Lisbon,NaN,3077.0,3.5,NaN,22.0,"[['Worst service ever!', 'Delicious soups - gr...",/Restaurant_Review-g189158-d8498634-Reviews-Lo...,d8498634
35385,id_1932,Rome,"['Italian', 'Vegetarian Friendly', 'Vegan Opti...",1933.0,4.0,$$ - $$$,531.0,"[['A good basic meal', 'Lovely anniversary mea...",/Restaurant_Review-g187791-d3488008-Reviews-Nu...,d3488008

In [4]:
# чистим колонку разновидностей Кухни
data['Cuisine Style'] = data['Cuisine Style'].str.replace('[','')
data['Cuisine Style'] = data['Cuisine Style'].str.replace(']','')
data['Cuisine Style'] = data['Cuisine Style'].str.replace("'",'')

# и выводим в список
data['Cuisine Style'] = data['Cuisine Style'].str.split(', ')

In [5]:
#Выводим dummy признак видов кухни 
s = data['Cuisine Style']
cuisine = pd.get_dummies(s.apply(pd.Series).stack()).sum(level=0)

#... и объединяем
data = pd.concat([data,cuisine], axis = 1)

In [6]:
#Выводим dummy признак City
data = pd.get_dummies(data, columns = ['City'], dummy_na = True)

In [7]:
#чистим колонку Restaraunt ID и переводим в числовой тип
data['Restaurant_id'] = data['Restaurant_id'].str.replace('id_','')
data['Restaurant_id'] = data['Restaurant_id'].astype(int)

#чистим колонку ID_TA и переводим в числовой тип
data['ID_TA'] = data['ID_TA'].str.replace('d','')
data['ID_TA'] = data['ID_TA'].astype(int)

In [22]:
#очистка колонки Price Range
data['Price Range'] = data['Price Range'].str.replace('$','1')
data['Price Range'] = data['Price Range'].str.replace('11 - 111','3')
data['Price Range'] = data['Price Range'].str.replace('1111','2')

# заполнение пропусков и конвертация в числовой тип
data['Price Range'] = data['Price Range'].fillna('0')
data['Price Range'] = data['Price Range'].astype(int)

In [26]:
#заполняем все пропуски
data = data.fillna(0)

In [29]:
data

,Restaurant_id,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,Afghani,...,City_Oporto,City_Oslo,City_Paris,City_Prague,City_Rome,City_Stockholm,City_Vienna,City_Warsaw,City_Zurich,City_nan
0,5569,"[European, French, International]",5570.0,3.5,3,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,1912643,0.0,...,0,0,1,0,0,0,0,0,0,0
1,1535,0,1537.0,4.0,0,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,7992032,0.0,...,0,0,0,0,0,1,0,0,0,0
2,352,"[Japanese, Sushi, Asian, Grill, Vegetarian Fri...",353.0,4.5,2,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,8632781,0.0,...,0,0,0,0,0,0,0,0,0,0
3,3456,0,3458.0,5.0,0,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,1358776,0.0,...,0,0,0,0,0,0,0,0,0,0
4,615,"[German, Central European, Vegetarian Friendly]",621.0,4.0,3,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,6864963,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,499,"[Italian, Vegetarian Friendly, Vegan Options, ...",500.0,4.5,3,79.0,"[['The real Italian experience!', 'Wonderful f...",/Restaurant_Review-g187849-d2104414-Reviews-Ro...,2104414,0.0,...,0,0,0,0,0,0,0,0,0,0
39996,6340,"[French, American, Bar, European, Vegetarian F...",6341.0,3.5,3,542.0,"[['Parisian atmosphere', 'Bit pricey but inter...",/Restaurant_Review-g187147-d1800036-Reviews-La...,1800036,0.0,...,0,0,1,0,0,0,0,0,0,0
39997,1649,"[Japanese, Sushi]",1652.0,4.5,0,4.0,"[['Good by swedish standards', 'A hidden jewel...",/Restaurant_Review-g189852-d947615-Reviews-Sus...,947615,0.0,...,0,0,0,0,0,1,0,0,0,0
39998,640,"[Polish, European, Eastern European, Central E...",641.0,4.0,3,70.0,"[['Underground restaurant', 'Oldest Restaurant...",/Restaurant_Review-g274856-d1100838-Reviews-Ho...,1100838,0.0,...,0,0,0,0,0,0,0,1,0,0
39999,4824,[Spanish],4827.0,3.0,3,260.0,"[['Average', 'Nice an informal'], ['01/31/2016...",/Restaurant_Review-g187849-d1109020-Reviews-Ta...,1109020,0.0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [32]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = data.drop(['Cuisine Style','Rating','Reviews', 'URL_TA'], axis = 1)
y = data['Rating']

In [33]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [34]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

In [35]:
# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

RandomForestRegressor()

In [36]:
# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [38]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.216596